<form class="fieldset">
  <md-select placeholder="Race" [(ngModel)]="character.race" name="race">
    <md-option *ngFor="let race of data.races" [value]="race">
      {{race}}
    </md-option>
  </md-select>

  <md-select placeholder="Sex" [(ngModel)]="character.sex" name="sex">
    <md-option *ngFor="let sex of data.sexes" [value]="sex">
      {{sex}}
    </md-option>
  </md-select>

  <md-select placeholder="Class" [(ngModel)]="character.class" name="class">
    <md-option *ngFor="let class of data.classes" [value]="class">
      {{class}}
    </md-option>
  </md-select>

  <md-select placeholder="Alignment" [(ngModel)]="character.alignment" name="alignment">
    <md-option *ngFor="let alignment of data.alignments" [value]="alignment">
      {{alignment}}
    </md-option>
  </md-select>

  <md-select placeholder="Background" [(ngModel)]="character.background" name="background">
    <md-option *ngFor="let background of data.backgrounds" [value]="background">
      {{background.name}} ({{background.source}})
    </md-option>
  </md-select>
</form>
