ul {
  list-style: none;
  margin: 0; padding: 0;
  /*display: flex;*/
}

ul > li {
  display: flex;
  flex: 1;
  height: 60px;
}

ul > li > md-select,
ul > li > md-input-container {
  min-width: 8rem;
  width: 100%;
  flex-basis: 115px;
  flex: 1;
}

button {
  flex: 0 0 40px;
  width: auto;
}

span.md-select-placeholder {
}

span.md-floating-placeholder {
}


ul > li > button {
}

.fieldset > md-input-container {
}

.character  { flex-basis: 17rem; }
.class      { flex-basis: 10rem; }
.background { flex-basis: 17rem; }
.race       { flex-basis:  8rem; }
.sex        { flex-basis:  8rem; }
.alignment  { flex-basis: 10rem; }
